.topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #444;
  color: #ddd;
}

.topnav a.active {
  background-color: #EA7200;
  color: #ddd;
}

.topnav a:hover.active {
  background-color: #FB8200;
}

body {
  background-color: #222;
  color: #ddd;
}

a.plain {
  color: #FFA200;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0; 
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.active-dropbtn {
  background-color: green;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  font-family: inherit;
  margin: 0; 
}

.dropdown-content a {
  float: none;
  color: #ddd;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #444;
  color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

a.plain {
  color: #FFA200;
}
