/*Set variables (allows for easy control of colors and such)*/
:root {
  --white: #ddd;
  --dark: #222;
  --medium: #333;
  --light: #444;
  --accent: #EA7200;
  --light-accent: #FB8200;
  --shadow: 0em .5em 1em 0em rgba(0,0,0,0.2);
}
/*Nav menu*/
.topnav {
  background-color: var(--medium);
  overflow: hidden;
}

/*links in nav menu*/
.topnav a {
  float: left;
  color: var(--white);
  text-align: center;
  padding: .875em 1em;
  text-decoration: none;
  font-size: 1.0625em;
}

.topnav a:hover {
  background-color: var(--light);
  color: var(--white);
}

.topnav a.active {
  background-color: #EA7200;
  color: var(--white);
}

.topnav a:hover.active {
  background-color: #FB8200;
}

/*Hide bars icon*/
.topnav i.fa-bars {
  display: none;
}

/*Dropdown styling*/
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 1em;
  border: none;
  outline: none;
  color: var(--white);;
  padding: .875em 1em;
  background-color: inherit;
  font-family: inherit;
  margin: 0; 
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--medium);
  min-width: 10em;
  box-shadow: var(--shadow);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.active-dropbtn {
  background-color: var(--accent);
  font-size: 1em;
  border: none;
  outline: none;
  color: var(--white);
  padding: .875em 1em;
  font-family: inherit;
  margin: 0; 
}

/*links in the dropdowns*/
.dropdown-content a {
  float: none;
  color: var(--white);
  padding: .875em 1em;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: var(--light);
  color: var(--white);;
}

/*body*/
body {
  background-color: var(--dark);
  color: var(--white);
}

/*links*/
a.plain {
  color: var(--light-accent);
}

/*table styling*/
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: .5px;
}

/*add alternatingly colored rows to tables*/
tr:nth-child(even) {
  background-color: var(--medium);
}

input[type="text"], textarea {
  background-color: var(--medium);
  color: var(--white);
  max-width: 95%;
}

/*show that disabled textareas/buttons are disabled to the user*/
textarea:disabled{
  cursor: not-allowed;
}

/*button styling*/
button.plain, input[type="submit"].plain{
  background-color: var(--medium); 
  border: .0625em solid var(--white);
  color: var(--white);
  padding: .9375em 2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
}

button.plain:hover, input[type="submit"].plain:hover {
  background-color: var(--light);
  cursor: pointer;
}

/*blockquote styling*/
blockquote {
  border-left: .625em solid var(--medium);
  margin: 1.5em .625em;
  padding: .5em .625em;
}

blockquote p {
  display: inline;
}

/*clicky-like dropdown styling*/
details {
    border: .0625em solid var(--white);
    border-radius: .25em;
    padding: .5em .5em 0;
  	background-color: var(--medium);
  	color: var(--white);
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
}

/*open click-like dropdown styling*/
details[open] {
    padding: .5em;
}

details[open] summary {
    border-bottom: .0625em solid var(--white);
    margin-bottom: .5em;
}
